<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Message Formatter</title>
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<style>
body {
background-color: #f4f7f6;
}
.section {
padding: 30px;
margin-top: 40px;
border-radius: 8px;
box-shadow: 0 4px 6px black;
background-color: whitesmoke;
}
</style>
</head>
<body>
<div class="container">
<div class="section">
<h3 class="text-center">Message Formatting Application</h3>
<form method="post">
{% csrf_token %}
Name:
<input type="text" class="form-control mb-2" name="name">
Message:
<input type="text" class="form-control mb-3" name="message">
<b>Text Color</b><br>
<input type="radio" name="color" value="red"> Red
<input type="radio" name="color" value="blue"> Blue
<input type="radio" name="color" value="green"> Green
<br><br>
<b>Text Style</b><br>
<input type="checkbox" name="bold"> Bold
<input type="checkbox" name="italic"> Italic
<input type="checkbox" name="underline"> Underline
<br><br>
<button type="submit" name="action" value="Display"
class="btn btn-primary">Display</button>
<button type="submit" name="action" value="Clear"
class="btn btn-secondary">Clear</button>
<button type="submit" name="action" value="Exit"
class="btn btn-danger">Exit</button>
</form>
<br>
<label style="{{ style }}">
{{ output }}
</label>
</div>
</div>
</body>
</html>
