body {
  background-color: lightblue;
  font-family: Cambria, Helvetica;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: darkblue;
}

p {
  font-size: 18px;
  color: navy;
}

Name : Princita Zina Miranda, Section : SCE-C, Reg no. 220905115 (roll no. 17)

b {
  color: blueviolet;
}
