<!DOCTYPE html>
<html>
<head>
    <title>Student Form</title>
</head>
<body>

<h2>Enter Student Details</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

<h2>Student List</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Course</th>
        <th>DOB</th>
    </tr>

    {% for student in students %}
    <tr>
        <td>{{ student.student_id }}</td>
        <td>{{ student.student_name }}</td>
        <td>{{ student.course_name }}</td>
        <td>{{ student.date_of_birth }}</td>
    </tr>
    {% endfor %}

</table>

</body>
</html>
