table {
    border-collapse: collapse;
    width: 300px;
    border: 2px solid black;
}

th, td {
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
}

tr:nth-child(even) {
    background-color: lightgreen; 
}

#moveContainer {
    margin-top: 20px;
    display: inline-block;
    transform: translateX(300px);
    transition: transform 1.5s ease; 
}

.styled-img {
    width: 150px;
    border-radius: 10px;
}
