<!DOCTYPE html>
<html>
<body>
<h2>Student Details</h2>
<form method="post">
{% csrf_token %}
Name:
<input type="text" name="name"><br><br>
Date of Birth:
<input type="date" name="dob"><br><br>
Address:
<textarea name="address"></textarea><br><br>
Contact Number:
<input type="text" name="contact"><br><br>
Email ID:
<input type="email" name="email"><br><br>
English:
<input type="number" name="english" min="0" max="50"><br><br>
Physics:
<input type="number" name="physics" min="0" max="50"><br><br>
Chemistry:
<input type="number" name="chemistry" min="0" max="50"><br><br>
<input type="submit" value="Submit">
</form>
<br>
<textarea rows="10" cols="40">
{{ data }}
</textarea>
<br><br>
{% if percentage %}
Total Percentage:
<label>{{ percentage }}%</label>
{% endif %}
</body>
</html>
