<!DOCTYPE html>
<html>
<body>
<h2>Employee Promotion Eligibility</h2>
<form method="post">
{% csrf_token %}
Employee ID:
<select name="empid">
<option value="E001">E001</option>
<option value="E002">E002</option>
<option value="E003">E003</option>
<option value="E004">E004</option>
<option value="E005">E005</option>
<option value="E006">E006</option>
<option value="E007">E007</option>
<option value="E008">E008</option>
<option value="E009">E009</option>
<option value="E010">E010</option>
<option value="E011">E011</option>
<option value="E012">E012</option>
<option value="E013">E013</option>
</select>
<br><br>
Date of Joining:
<input type="date" name="doj">
<br><br>
<input type="submit" value="Am I Eligible for Promotion">
</form>
<br>
<b>Eligibility Status:</b>
<label>
{% if result %}
{{ result }}
{% endif %}
</label>
</body>
</html>
